@import "tailwindcss";

@theme {
  --color-text-black: #141C24;
  --color-border-light-gray: #CED2DA;
  --color-border-gray: #97A1AF;
  --color-disabled-gray: #F3F4F6;
  --color-placeholder-gray: #637083;
  --color-blue: #4C94FF;
  --color-red: #F64C4C;
  --color-button-default: #1975FF;
  --color-button-hover: #0052CC;
  --color-button-light-blue: #CCE0FF;
}